*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Antique Soft', serif;
}
.container{
    min-height: 100vh;
    width:  100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.container{
    position: fixed;
    column-count: 4;
    padding: 20px;
}
.image{
    display: inline-flex;
    overflow: hidden;

}
img{
    width: 200;
    transition: 0.25s ease-in-out;
    justify-content: space-between;
    padding: 1.8% 10%;

}
.image:hover image{
    transform: scale(1.1);
}
h1{
    position: absolute;
    padding: 5px;
    margin-left: 25px;
    margin-top: 5px;
    font-size: 15px;
    background: #D3D3D3;
    color: #000000;
    border-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 0.25s ease-in-out;
}
.image:hover h1{
    opacity: 0.5;
}
.navi ul li{
    list-style: none;
    display: inline-block;
    padding: 14px 12px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.navi ul li a{
    color: #C0C0C0;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}
.navi ul li::after{
    content: '';
    width: 0%;
    height: 1.3px;
    background: #D3D3D3;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navi ul li:hover::after{
    width: 100%;
}
.navi ul li a:hover{
    font-size: 21.5px;
}