*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Antique Soft', serif;
}
.header{
    min-height: 100vh;
    width:  100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 1.8% 10%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #C0C0C0;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.3px;
    background: #D3D3D3;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a:hover{
    font-size: 21.5px;
}
.texts{
    width: 90%;
    color: #EDE9E8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.texts h1{
    font-size: 50px;
}
.texts p{
    font-size: 15px;
    color: #A9A9A9;
}