*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  height: 100vh;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.reviews{
  margin: auto;
  padding: 0 1rem;
  max-width: 1100px;
  text-align: center;
}
.header{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: rgb(211, 211, 211);
  margin-bottom: .5rem;
}
.revs{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}
.rev{
  margin: 0 1rem;
  min-width: 300px;
  flex: 1;
}
.pics{
  margin: 1.75rem auto;
  width: 150px;
  height: 150px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}
.quotes{
  background-color: rgb(220,220,220);
  padding: 2.5rem;
  box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
}
.name{
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  margin-bottom: .25rem;
}
.description{
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: rgb(150, 150, 150);
}
.navi ul li{
    list-style: none;
    display: inline-block;
    padding: 14px 12px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.navi ul li a{
    color: #C0C0C0;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}
.navi ul li::after{
    content: '';
    width: 0%;
    height: 1.3px;
    background: #D3D3D3;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navi ul li:hover::after{
    width: 100%;
}
.navi ul li a:hover{
    font-size: 21.5px;
}