*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Antique Soft', serif;
  }
.bgvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
}
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 1;
}
.navi ul li{
    list-style: none;
    display: inline-block;
    padding: 14px 12px;
    position: absolute;
    top: 15px;
    right: 20px;
}
.navi ul li a{
    color: #C0C0C0;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}
.navi ul li::after{
    content: '';
    width: 0%;
    height: 1.3px;
    background: #D3D3D3;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navi ul li:hover::after{
    width: 100%;
}
.navi ul li a:hover{
    font-size: 21.5px;
}